/*paleta 1*/
$color1: #000e17;
$color2: #072430;
$color3: #053e50;
$color4: #005e75;
$color5: #00839f;

/*paleta 2*/
$color1: #1b1d1e;
$color2: #324b61;
$color3: #00384e;
$color4: #326775;
$color5: #66999b;

/*wykorzystane kolory*/
$white: whitesmoke;
$dark: rgba(27,29,30,1);
$darkblue: rgba(7,36,48,1);
$lightblue: #66999b;
$main: #00839f;
